html,
body {
  background-color: $black;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $black
  box-shadow: 0 2px 2px -2px $danger;
  overflow: auto;
  
  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    color: $white;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }
}

footer {
  font-family: $fira-2;
  padding: 1rem 0;
  text-align: center;
  background-color: $black;
  height: 60px;
  width: 100%;

  .footer_top {
    margin: 0 auto;
  }

  .footer_btm {
    margin: 0 auto;
  }

  p {
    color: $white;
    line-height: 1px;
    font-size: .8rem;
    font-weight: bold;
  }
}
