html,
body {
  background-color: $white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

span {
  color: $white;
  line-height: 1px;
  font-size: .7rem;
  font-weight: bold;
}

nav {
  background-color: $black;
  box-shadow: 0 2px 2px -2px $grey;
  overflow: auto;
  
  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    color: $white;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }
}

ul{
  text-align: center;
  padding: 0.5rem 0;
}

li{
  display: inline;
}

svg{
  fill: currentColor;
  color: $white;
  padding: 8px;
  width: 30px;
}

footer {
  background-color: $black;
  text-align: center;
  font-family: $fira;
  font-weight: bold;
  padding: 1rem 0;
  width: 100%;

  &-top {
    margin: 0 auto;
    color: $white;
    font-size: .7rem;
  }

  &-btm {
    margin: 0 auto;
  }
}

.tips {
  font-family: $fira;
  font-weight: bold;
  text-align: center;
}
