// Colour

$background-colour    : #F3F3F3;

$primary              : #FF6666;
$secondary            : #236C92;
$tertiary             : #33BBBB;

$danger               : #FF3333
$warning              : #FFDC59;

$white                : #FFFFFF;
$black                : #01161E;
