// Color

$primary              : #FF6666;
$secondary            : #2EC4B6;
$tertiary             : #F4E753;

$danger               : #FF3333;
$warning              : #FFDC59;

$white                : #FFFFFF;
$black                : #222222;
$grey                 : #656565;
