.nav {
  background-color: $black;
  overflow: auto;
  height: 60px;
  
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &-title {
    color: #FFF;
    font-size: 40px;
  }
  
  &-menu {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    margin-right: 5px;
    margin-top: 5px;
  }
}
