.posts {
  padding: 0 0 40px 0;
  
  &-title{
    text-align: center;
    font-family: $fira;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0 20px 0;
  }
  
  &-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-right: 15px;
    padding-top: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    max-width: 1200px;
  }

  &-items {
    box-sizing: border-box;
    background-color: #828282;
    flex: auto;
    height: 260px;
    margin-left: 15px;
    margin-bottom: 15px;
    min-width: 350px;
  }
}
