.posts {
  padding: 20px 0 20px 0;
  
  &-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    padding: 15px;
  }

  &-items {
    box-sizing: border-box;
    background-color: #828282;
    flex: auto;
    height: 300px;
    min-width: 400px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  &-items:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.09);
  }
  
  @media only screen and (max-width: 700px){
    &-items {
      min-width: 300px;
    }
  }
}
