.posts {
  padding: 20px 0 20px 0;
  
  &-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    padding: 15px;
  }

  &-items {
    box-sizing: border-box;
    background-color: #828282;
    flex: auto;
    height: 300px;
    min-width: 400px;
    margin: 5px;
  }
  
  @media only screen and (max-width: 700px){
    &-items {
      box-sizing: border-box;
      background-color: #828282;
      flex: auto;
      height: 300px;
      min-width: 300px;
      margin: 5px;
    }
  }
}
