<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}
  
  <meta name="keywords" content="{{ site.keywords }}">
  
  <link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/img/favicon.ico" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/apple-touch-icon.png" | relative_url }}">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.min.css">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
