<div>
{% for post in posts %}
<a href="{{ post.url | prepend: site.baseurl }}" class="posts-item">
    <div>
        <time datetime="{{ post.date }}" class="posts-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="posts-title">{{ post.title }}</h1>
        <div class="posts-line"></div>
        <p>
            {% if post.excerpt_separator %}
                {{ post.excerpt | strip_html }}
            {% else %}
                {{ post.content | strip_html | truncatewords: 30 }}
            {% endif %}
        </p>
    </div>
</a>
</div>
